// body {
//   width: 50%;
//   margin: 0 auto;
//   margin-top: 150px;
// }

a {
  font-family: 'Alegreya Sans SC', sans-serif;
  font-size: 20px;
  margin-bottom: 22px;
}

h2, h4, h5 {
  font-family: 'Alegreya Sans SC', sans-serif;
}

h2 {
  font-size: 28px;
  margin-bottom: 22px;
}

h4 {
  font-size: 20px;
}

h5 {
  font-size: 14px;
  margin: 10px 0;
  word-spacing: 4px;
}

p {
  font-family: 'Open Sans', sans-serif;
  margin-bottom: 10px;
  font-size: 14px;
}

.main-wrapper {
  display: flex;
  width: 50%;
  margin: 0 auto;
  margin-top: 175px;
  margin-bottom: 100px;
}

.wrapper {
  margin-left: 30px;
}

.content-wrapper {
  display: flex;
  flex-direction: column;
  height: 400px;
  width: 500px;
  justify-content: space-between;
}

.sub-wrapper {
  margin-bottom: 18px;
}

.links {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-right: 30px;
}

.link-group {
  display: flex;
  width: 100px;
  justify-content: space-between;
  margin: 10px 0;
}

.personal-links {
  display: flex;
  justify-content: space-between;
  width: 80px;
}

.project-link {
  font-size: 14px;
  margin-bottom: 0;
}

.contact-info {
  display: flex;
  justify-content: space-between;
  width: 300px;
  align-self: flex-start;
}
