<!DOCTYPE html>
<html>
  <head>
    <title>Jules Costa</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <script src="https://use.fontawesome.com/28e743d6f2.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Alegreya+Sans+SC:300|Open+Sans" rel="stylesheet">

  </head>

  <body>
    <%= yield %>
  </body>
</html>
