<!DOCTYPE html>
<html>
  <head>
    <title>Jules Costa</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <link href="https://fonts.googleapis.com/css?family=Kameron" rel="stylesheet">

  </head>

  <body>
    <%= yield %>
  </body>
</html>
